/*
  Name: Nolan Mielke
  Date: 5/8/2024
*/ 

@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@700&display=swap'); /*Main text*/
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap'); /*H1 font*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --bg-color1: rgb(0,0,0);
  --bg-color2: rgb(255, 255, 255);
  --sh-c: rgb(0, 0, 0);
  --b-c: rgb(255, 255, 255);
  --b-c2: rgb(36, 36, 36);
  --color: white;
  --color2: red;
  --body-font: 'Poppins', sans-serif;
  --content-font: 'Zen Old Mincho', serif;
  --H1-font: 'Share Tech Mono', monospace;
  --twr-spd: 2s;
  --fid1-spd: 1s;
}

body {
    height: 100vh;
    background-color: rgb(0,0,0);
    font-family: var(--body-font);
    text-align: center;
    overflow-y: auto;
    color: var(--color);
    display: block;
}

.classes li {
    text-align: center;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 50px;
    border-color: gray;
    list-style-type: none;
    margin: 0 auto 0 auto;
}

.classes {
    text-align: center;
    margin: 0 auto 0 auto;
    border-spacing: 50px;
}

/*HEADER*/

header {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto 0 auto;
}

/*NAV*/

nav {
    width: 750px;
    margin:0 auto;
    padding-top: 40px;
    padding-bottom: 60px;
}

    nav a {
        margin-right: 15px;
        margin-left: 15px;
        text-decoration: none;
        border: 5px solid var(--color2);
        color: var(--color2);
        font-size: 18px;
        padding: 10px;
    }

nav a:hover {
    background-color: var(--bg-color1);
    color: var(--color);
    border: 5px solid var(--color);
}

/*BUTTON*/

#button {
    margin-right: 15px;
    margin-left: 15px;
    text-decoration: none;
    border: 5px solid var(--color2);
    color: var(--color2);
    font-size: 24px;
    padding: 10px;
    background-color: var(--bg-color1);
}

    #button:hover {
        background-color: var(--bg-color1);
        color: var(--color);
        border: 5px solid var(--color);
        }

/*GRID ELEMENTS*/

.secgrid {
  display: grid;
  grid-template-areas:
  'rel rel'
  'g1 g2';
  padding-top: 30px;
  text-align: center;
}

.thrgrid {
  display: grid;
  grid-template-areas:
  'wrkh2 wrkh2'
  'w1 w1'
  'w2 w3';
  padding-top: 30px;
  text-align: center;
}

.maingrid h2 {
  padding-bottom: 10px;
}

.contact {
  display: grid;
  grid-template-areas:
  'wel wel'
  'adr cont'
  'qual qual';
  padding-top: 30px;
  padding-left: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

main {
width: 75vw;
margin: auto;
}

.qual {
grid-area: qual;
}

/*SLIDESHOW*/

#slideshow1 {
    position: relative;
    height: 510px;
    width: 510px;
    border: 5px solid white;
}

    #slideshow1 > div {
        position: absolute;
        margin: 0;
    }

#slideshow2 {
    position: relative;
    height: 510px;
    width: 510px;
    border: 5px solid white;
}

    #slideshow2 > div {
        position: absolute;
        margin: 0;
    }

/*H1 ANIMATIONS - UNIVERSAL PROPERTIES*/

.resumeh1,
.nerkah1,
.homeh1,
.workh1,
.contacth1,
.projh1 {
    font-size: 75px;
    padding-top: 15px;
    text-align: center;
    font-weight: bolder;
    position: relative;
    width: max-content;
    font-family: var(--H1-font);
    margin: 0 auto 0 auto;
    color: var(--color2);
}

.resumeh1::before,
.resumeh1::after,
.nerkah1::before,
.nerkah1::after,
.homeh1::before,
.homeh1::after,
.workh1::before,
.workh1::after,
.contacth1::before,
.contacth1::after,
.projh1::before,
.projh1::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*HOME*/

.homeh1::before{
background: var(--bg-color1);
animation: typew var(--twr-spd) steps(7) forwards;
}
/*RESUME*/

.resumeh1::before{
background: var(--bg-color1);
animation: typew var(--twr-spd) steps(20) forwards;
}

/*NERKA*/

.nerkah1::before {
 background: var(--bg-color1);
 animation: typew var(--twr-spd) steps(11) forwards;
 }

/*WORKS*/

.workh1::before {
 background: var(--bg-color1);
 animation: typew var(--twr-spd) steps(5) forwards;
 }

/*CONTACT*/

.contacth1::before {
 background: var(--bg-color1);
 animation: typew var(--twr-spd) steps(10) forwards;
 }

/*PROJECTS*/

.projh1::before {
    background: var(--bg-color1);
    animation: typew var(--twr-spd) steps(19) forwards;
}

/*FADE IN ANIM*/

.mainp {
margin-bottom: 15px;
animation: fid1 1s ease forwards;
animation-delay: 2.5s;
opacity: 0;
transform: translateY(-15px);
font-size: 24px;
}

.nol {
  opacity: 0;
  transform: translateY(-15px);
  animation: fid1 1s ease forwards;
  animation-delay: 2.5s;
  border: 5px solid var(--color);
}

.nerkapic {
    opacity: 0;
    transform: translateY(-15px);
    animation: fid1 1s ease forwards;
    animation-delay: 2.5s;
}

.myr {
  grid-area: wel;
  line-height: 50px;
  height: 50px;
  margin-bottom: 15px;
  margin-top: 15px;
  opacity: 0;
  transform: translateY(-15px);
  animation: fid1 1s ease var(--twr-spd) forwards;
  width: max-content;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
}

.myn {
  grid-area: wel;
  background-color: var(--bg-color1);
  line-height: 50px;
  height: 50px;
  margin-bottom: 15px;
  margin-top: 15px;
  opacity: 0;
  transform: translateY(-15px);
  animation: fid1 1s ease var(--twr-spd) forwards;
  width: max-content;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

.wel {
    grid-area: wel;
    background-color: var(--bg-color1);
    line-height: 50px;
    height: 50px;
    margin-bottom: 15px;
    opacity: 0;
    transform: translateY(-15px);
    animation: fid1 1s ease var(--twr-spd) forwards;
    width: max-content;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 52px;
}

.blurb {
    line-height: 50px;
    height: 50px;
    margin-bottom: 15px;
    opacity: 0;
    transform: translateY(-15px);
    animation: fid1 1s ease var(--twr-spd) forwards;
    width: max-content;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
}

.wel2 {
  background-color: var(--bg-color1);
  line-height: 50px;
  height: 50px;
  color: var(--color);
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  transform: translateY(-15px);
  animation: fid1 1s ease var(--twr-spd) forwards;
  width: max-content;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.qual2 {
  padding-bottom: 15px;
  background-color: var(--bg-color1);
  line-height: 50px;
  height: 50px;
  width: max-content;
  margin: 25px auto 25px auto;
  opacity: 0;
  transform: translateY(-15px);
  animation: fid1 1s ease var(--twr-spd) forwards;
  font-size: 48px;
}

.eduh {
  grid-area: eduh;
  line-height: 50px;
  height: 50px;
  background-color: var(--bg-color1);
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;
  margin-top : 25px;
  opacity: 0;
  transform: translateY(-15px);
  animation: fid1 1s ease var(--twr-spd) forwards;
  font-size: 48px;
}

.wrkh2 {
  grid-area: wrkh2;
  line-height: 50px;
  height: 50px;
  margin-bottom: 15px;
  background-color: var(--bg-color1);
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
  padding-bottom: 60px;
  opacity: 0;
  transform: translateY(-15px);
  animation: fid1 1s ease var(--twr-spd) forwards;
  font-size: 48px;
}

.class1 {
    grid-area: g1;
    opacity: 0;
    transform: translateY(-15px);
    animation: fid1 1s ease forwards;
    animation-delay: 2.5s;
    font-size: 24px;
}

.class2 {
  grid-area: g2;
  opacity: 0;
  transform: translateY(-15px);
  animation: fid1 1s ease forwards;
  animation-delay: 2.5s;
  font-size: 24px;
}

.class3 {
    grid-area: g3;
    opacity: 0;
    transform: translateY(-15px);
    animation: fid1 1s ease forwards;
    animation-delay: 2.5s;
    font-size: 24px;
}

.class4 {
    grid-area: g4;
    opacity: 0;
    transform: translateY(-15px);
    animation: fid1 1s ease forwards;
    animation-delay: 2.5s;
    font-size: 24px;
}

.qual p {
  padding-bottom: 15px;
  opacity: 0;
  transform: translateY(-15px);
  animation: fid1 1s ease forwards;
  animation-delay: 2.5s;
}

.work1 {
  opacity: 0;
  transform: translateY(-15px);
  animation: fid1 1s ease forwards;
  animation-delay: 2.5s;
  text-align: left;
  padding-bottom: 30px;
  font-size: 24px;
}
    .work1 ol {
        margin-left: 20vw;
        margin-top: 10px;
        list-style-type: square;
    }

.work2 {
    opacity: 0;
    transform: translateY(-15px);
    animation: fid1 1s ease forwards;
    animation-delay: 2.5s;
    text-align: left;
    padding-bottom: 30px;
    font-size: 24px;
}
    .work2 ol {
        margin-left: 20vw;
        margin-top: 10px;
        list-style-type: square;
    }

.work3 {
    opacity: 0;
    transform: translateY(-15px);
    animation: fid1 1s ease forwards;
    animation-delay: 2.5s;
    text-align: left;
    padding-bottom: 30px;
    font-size: 24px;
}
    .work3 ol {
        margin-left: 20vw;
        margin-top: 10px;
        list-style-type: square;
    }

.nerka info {
    grid-area: n1;
}

.nerka works {
    grid-area: n2;
}

.pw info {
    grid-area: pw1;
}

.pw works {
    grid-area: pw2;
}

.rio {
  opacity: 0;
  transform: translateY(-15px);
  animation: fid1 1s ease forwards;
  animation-delay: 2.5s;
  padding-bottom: 15px;
  padding-top: 15px;
}

.rio_p {
    padding-bottom: 15px;
    opacity: 0;
    transform: translateY(-15px);
    animation: fid1 1s ease forwards;
    animation-delay: 2.5s;
    font-size: 24px;
}

.rel {
  font-size: 20px;
  opacity: 0;
  transform: translateY(-15px);
  animation: fid1 1s ease forwards;
  animation-delay: 2.5s;
  grid-area: rel;
  padding-bottom: 30px;
  font-size: 36px;
}

.adr {
  grid-area: adr;
  text-align: justify;
  padding-left: 50px;
  opacity: 0;
  transform: translateY(-15px);
  animation: fid1 1s ease forwards;
  animation-delay: 2.5s;
}

    .adr p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    }

.cont {
  grid-area: cont;
  text-align: justify;
  padding-left: 35px;
  opacity: 0;
  transform: translateY(-15px);
  animation: fid1 1s ease forwards;
}

.cont p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
}

.wrkdet {
font-size: 24px;
padding-top: 15px;
padding-bottom: 5px;
}

/*FOOTER*/

.FB {
  padding: 10px;
}

.TW {
  padding: 10px;
}

.LI {
  padding: 10px;
}

.fh4 {
    grid-area: h4;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    padding-top: 10px;
}

footer {
    font-size: 18px;
    font-style: italic;
    bottom: 0;
    color: var(--color2);
    padding-bottom: 10px;
    text-align: center;
}

/*ANIMATIONS*/

@keyframes typew {
  to { left: 100%; }
}

@keyframes fid1 {
  to { opacity: 1;
  transform: translateY(0);}
}

/*ETC*/

h2, h3, h4 {
  text-align: center;
  font-size: 36px;
  text-align: center;
  font-weight: bolder;
}
