/*
  Name: Nolan Mielke
  Date: 1/2/2023
*/ 

@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@700&display=swap'); /*Main text*/
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap'); /*H1 font*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --bg-color1: rgb(0,0,0);
  --bg-color2: rgb(255, 255, 255);
  --sh-c: rgb(0, 0, 0);
  --b-c: rgb(255, 255, 255);
  --b-c2: rgb(36, 36, 36);
  --color: white;
  --color2: red;
  --body-font: 'Poppins', sans-serif;
  --content-font: 'Zen Old Mincho', serif;
  --H1-font: 'Share Tech Mono', monospace;
  --twr-spd: 2s;
  --fid1-spd: 1s;
}

/*VIDEO*/

#bgrd_vid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/*NAV*/

nav {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

nav a {
   margin-right: 15px;
   margin-left: 15px;
   text-decoration: none;
   border: 5px solid var(--color2);
   color: var(--color2);
   font-size: 24px;
   padding: 10px;
}

nav a:hover {
    background-color: var(--bg-color1);
    color: var(--color);
    border: 5px solid var(--color);
}

/*GRID ELEMENTS*/

.secgrid {
  display: grid;
  grid-template-areas:
  'rel rel'
  'g1 g2';
  padding-top: 30px;
  text-align: center;
}

.thrgrid {
  display: grid;
  grid-template-areas:
  'wrkh2 wrkh2'
  'w1 w2';
  padding-top: 30px;
  text-align: center;
}

.maingrid h2 {
  padding-bottom: 10px;
}

.contact {
  display: grid;
  grid-template-areas:
  'wel wel'
  'adr cont';
  padding-top: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

main {
    margin-right: 350px;
    margin-left: 350px;
}

.grid1 {
    display: grid;
    grid-area: main;
    text-align: center;
    grid-template-areas:
        'nolpic contact';
}

/*ABOUT H1 ANIM*/

.abouth1 {
    font-size: 75px;
    padding-top: 15px;
    text-align: center;
    font-weight: bolder;
    position: relative;
    width: max-content;
    font-family: var(--H1-font);
    margin-left: auto;
    margin-right: auto;
    color: var(--color2);
}

.abouth1::before,
.abouth1::after {
content: '';
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
}

.abouth1::before {
background: var(--bg-color1);
animation: typew var(--twr-spd) steps(20) forwards;
}

/*FADE IN ANIM*/

.mainp {
margin-bottom: 15px;
animation: fid1 1s ease forwards;
animation-delay: 2.5s;
opacity: 0;
transform: translateY(-15px);
}

.nol {
  opacity: 0;
  transform: translateY(-15px);
  animation: fid1 1s ease forwards;
  animation-delay: 2.5s;
  border: 5px solid var(--b-c2);
}

.myr {
  grid-area: wel;
  line-height: 50px;
  height: 50px;
  margin-bottom: 15px;
  margin-top: 15px;
  opacity: 0;
  transform: translateY(-15px);
  animation: fid1 1s ease var(--twr-spd) forwards;
  width: max-content;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

.myn {
  grid-area: wel;
  background-color: var(--bg-color1);
  line-height: 50px;
  height: 50px;
  margin-bottom: 15px;
  margin-top: 15px;
  opacity: 0;
  transform: translateY(-15px);
  animation: fid1 1s ease var(--twr-spd) forwards;
  width: max-content;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

.wel {
  grid-area: wel;
  background-color: var(--bg-color1);
  line-height: 50px;
  height: 50px;
  margin-bottom: 15px;
  opacity: 0;
  transform: translateY(-15px);
  animation: fid1 1s ease var(--twr-spd) forwards;
  width: max-content;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

.wel2 {
  background-color: var(--bg-color1);
  line-height: 50px;
  height: 50px;
  color: var(--color);
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  transform: translateY(-15px);
  animation: fid1 1s ease var(--twr-spd) forwards;
  width: max-content;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.qual2 {
  padding-bottom: 15px;
  background-color: var(--bg-color1);
  line-height: 50px;
  height: 50px;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 15px;
  opacity: 0;
  transform: translateY(-15px);
  animation: fid1 1s ease var(--twr-spd) forwards;
}

.eduh {
  grid-area: eduh;
  line-height: 50px;
  height: 50px;
  margin-bottom: 15px;
  background-color: var(--bg-color1);
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;
  opacity: 0;
  transform: translateY(-15px);
  animation: fid1 1s ease var(--twr-spd) forwards;
}

.rio {
text-align: left;}

.wrkh2 {
  grid-area: wrkh2;
  line-height: 50px;
  height: 50px;
  margin-bottom: 15px;
  background-color: var(--bg-color1);
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;
  opacity: 0;
  transform: translateY(-15px);
  animation: fid1 1s ease var(--twr-spd) forwards; 
}

.class1 {
  grid-area: g1;
  opacity: 0;
  transform: translateY(-15px);
  animation: fid1 1s ease forwards;
  animation-delay: 2.5s;
}

.class2 {
  grid-area: g2;
  opacity: 0;
  transform: translateY(-15px);
  animation: fid1 1s ease forwards;
  animation-delay: 2.5s;
}

.qualifications p {
  padding-bottom: 15px;
  opacity: 0;
  transform: translateY(-15px);
  animation: fid1 1s ease forwards;
  animation-delay: 2.5s;
}

.work1 {
  grid-area: w1;
  opacity: 0;
  transform: translateY(-15px);
  animation: fid1 1s ease forwards;
  animation-delay: 2.5s;
  text-align: left;
  padding-bottom: 30px;
}

.work2 {
  grid-area: w2;
  opacity: 0;
  transform: translateY(-15px);
  animation: fid1 1s ease forwards;
  animation-delay: 2.5s;
  text-align: left;
  padding-left: 30px;
  padding-bottom: 30px;
}

.rio {
  font-size: 20px;
  opacity: 0;
  transform: translateY(-15px);
  animation: fid1 1s ease forwards;
  animation-delay: 2.5s;
  padding-bottom: 15px;
}

.rel {
  font-size: 20px;
  opacity: 0;
  transform: translateY(-15px);
  animation: fid1 1s ease forwards;
  animation-delay: 2.5s;
  grid-area: rel;
  padding-bottom: 15px;
}

.adr {
  grid-area: adr;
  padding-bottom: 30px;
  text-align: justify;
  padding-left: 50px;
  opacity: 0;
  transform: translateY(-15px);
  animation: fid1 1s ease forwards;
  animation-delay: 2.5s;
}

.cont {
  grid-area: cont;
  padding-bottom: 30px;
  text-align: justify;
  padding-left: 50px;
  opacity: 0;
  transform: translateY(-15px);
  animation: fid1 1s ease forwards;
  animation-delay: 2.5s;
}

/*FOOTER*/

.FB {
  padding: 10px;
}

.TW {
  padding: 10px;
}

.LI {
  padding: 10px;
}

.fh4 {
    grid-area: h4;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    padding-top: 10px;
}

footer {
    font-size: 18px;
    font-style: italic;
    bottom: 0;
    color: var(--color2);
    padding-bottom: 10px;
    text-align: center;
}

/*ANIMATIONS*/

@keyframes typew {
  to { left: 100%; }
}

@keyframes fid1 {
  to { opacity: 1;
  transform: translateY(0);}
}

/*ETC*/

h2, h3, h4 {
  text-align: center;
  font-size: 24px;
  text-align: center;
  font-weight: bolder;
}

body {
    height: 100vh;
    background-image: url(bgrd.gif);
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(0,0,0);
    font-family: var(--body-font);
    text-align: center;
    overflow-y: auto;
    color: var(--color);
}

.mainc {
padding-top: 19%;
padding-bottom: 19%;
}

li {
  margin-left: 25px;
  margin-top: 10px;
  list-style-type: square;
}